/* Created with love by wolfcreative.ru */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');

body{font-family:'Roboto',sans-serif;font-size:20px;line-height:normal;color:#111}
.uk-container{max-width:1140px}
a{font-family:'Roboto',sans-serif;-webkit-transition:.2s ease-in-out;transition:.2s ease-in-out}
a:hover,a:focus{text-decoration:none;-webkit-transition:.2s ease-in-out;transition:.2s ease-in-out}
@media (max-width:1100px){
body{font-size:18px}
}

header .uk-grid{min-height:112px;background:#fff}
header .logo a{display:block;margin-top:-3px;margin-bottom:3px!important}
header .address{color:#4e4e4e;font-size:18px}
header .phone a{color:#000;font-size:22px}
header .uk-button-green{padding:1px 20px 0}
@media (max-width:1279px){
header .address{font-size:16px}
header .phone a{font-size:18px}
}

header .uk-navbar-container:not(.uk-navbar-transparent){background:#1c1c1c}
header .uk-navbar-nav > li > a{min-height:67px;text-transform:none;color:#fff;font:18px Roboto,sans-serif}
header .uk-navbar-nav > li.uk-active > a,header .uk-navbar-nav > li > a:hover{color:#fff;background:#2f2f2f}
@media (max-width:1279px){
header .uk-navbar-nav > li > a{font-size:16px}
}
@media (max-width:1100px){
header .uk-navbar-nav > li > a{font-size:14px}
}

.main{overflow:hidden}

.afterhead{background:#777 url(../img/afterhead.jpg) no-repeat top center / cover;padding-top:38px}
.afterhead h1{font-size:50px;line-height:1.04;text-shadow:0 0 8px rgba(0,0,0,0.7)}
.afterhead h1 span{font-weight:300}
.afterhead .advantages{padding:18px 0;border-top:1px solid rgba(255,255,255,.3);margin-top:45px}
.afterhead .advantages .uk-grid>div{color:#ebebeb;font-size:18px}
.afterhead .advantages .uk-grid>div span{display:block;margin-top:10px}

.docblock{border:1px solid #f4f4f4;padding-top:25px}
.docblock h3{margin-bottom:30px}
.docblock .info{background:#f4f4f4;padding:40px 45px}
.docblock h4{font-size:20px;font-weight:400;margin-bottom:5px}
.docblock p{font-size:18px;margin-top:5px}
.docblock .wrapper{border-top:1px solid #dcdcdc;padding-top:20px}
.docblock .uk-grid>.uk-first-column:first-child>.wrapper{border:none;padding-top:0}
@media (min-width:640px){
.docblock .uk-grid>.uk-first-column:first-child+div>.wrapper{border:none;padding-top:0}
}

.service{box-shadow:0 0 4px 0 rgba(0,0,0,0.2);border-radius:3px}
.service .uk-slider img{width:100%}
.service .uk-slider .uk-slider-nav li{margin:0 4px}
.service .uk-slider .uk-slider-nav a{width:100%;height:3px;display:block;background:rgba(255,255,255,.5)}
.service .uk-slider .uk-slider-nav .uk-active a{background:#fff}
.service .info{padding:17px 21px;text-align:left;font-size:16px}
.service h3{font-size:20px;font-weight:400}
.service h3 span{display:block}
.service p{color:#464646}
.service .options img{margin:0 5px 1px 0}

.consultation{background:#777 url(../img/needconsultation.jpg);padding:55px 0 60px}
.consultation h2{font-weight:400}
.consultation .uk-button-green{box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.2);line-height:54px;padding:0 40px}

.priceblock{position:relative}
.priceblock:after{content:url(../img/priceblock-dogovor.png);position:absolute;right:-520px;top:-179px}
.priceblock .pricelist span{display:block;color:#8a8a8a;font-size:16px;margin-bottom:12px}
.priceblock .uk-link-muted{font-size:18px}
@media (max-width:1199px){
.priceblock:after{display:none}
}

.ourworks .uk-overlay{background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(0,0,0,0.61) 29%)}
.ourworks .uk-panel p{max-width:630px;color:#fff}
.ourworks .uk-slider-items>li img{min-height:500px}

.reviews .uk-slider-items>div>.uk-grid span{display:block;color:#939393;margin-top:10px}

footer{margin-top:140px;background:#272727;padding:20px 0}
footer .uk-list{color:#fff;font-size:16px}
footer .phone{font-size:22px;color:#fff}
footer .address{font-size:18px;color:#bebebe}
footer .uk-button-ghost{font-size:18px;line-height:45px}
@media (max-width:959px){
footer{margin-top:35px}
footer .phone{font-size:18px}
footer .address{font-size:16px}
}
@media (max-width:639px){
footer .uk-button-ghost{font-size:16px;padding:0 15px}
}

/* Buttons */
.uk-button{text-transform:none;border-radius:4px}
.uk-button-green{background:#82ca00;color:#fff;font-size:18px;line-height:45px}
.uk-button-green:hover{background:#77b800;color:#fff}
.uk-button-ghost{background:#fff;color:#000!important;font-size:20px;line-height:55px;box-shadow:0 0 8px 0 rgba(0,0,0,0.35)}
.uk-button-ghost:hover{background:#d9d9d9}
.uk-button-halfghost{font-size:18px;line-height:45px;border:1px solid #fff;background:rgba(255,255,255,0.52)}
.uk-button-halfghost:hover{background:rgba(255,255,255,0.3)}

/* UiKit replacer */
.main .uk-input{height:50px;border-radius:2px;padding:10px 20px;font-size:16px;color:#333;background-color:#fff;box-shadow:0 0 4px 0 rgba(0,0,0,0.2)}
.uk-modal .uk-input{font-size:16px}

/* Icon phone */
i.phonewhite{display: inline-block;width:14px;height:14px;background: url(../img/awesome/phone-white.png);margin-right:5px}
i.phoneblack{display: inline-block;width:14px;height:14px;background: url(../img/awesome/phone-black.png);margin-right:5px}
  
h2,h3,h4{font-family:'Roboto',sans-serif;font-weight:300;color:#000}
h2{font-size:40px}
h3{font-size:26px}
@media (max-width:1279px){
h2{font-size:34px}
h3{font-size:22px}
}